<ul class="ul-style">
    <!-- <li>
        <span (click)="toggleRightMenu(objRef)" [ngClass]="{'activated-dots':objRef.showRightMenu}"
            class="dots">...</span>
        <div class="right-menu" *ngIf="objRef.showRightMenu">
            <ul class="ul-style">
                <li (click)="addItem(objRef)">add item</li>
            </ul>
        </div>
    </li> -->
    <li *ngFor="let item of objRef; let i = index;">
        <div *ngIf="item.dataType == 'object'">
            <div class="right-menu-holder">
                <img [src]="jsonFormatService.dataTypes[item.dataType].iconUrl"
                    class="icons" />&nbsp;&nbsp;{{ item.name }}
                &nbsp;&nbsp; <span (click)="toggleRightMenu(item)" [ngClass]="{'activated-dots':item.showRightMenu}"
                    class="dots">...</span>
                <div class="right-menu" *ngIf="item.showRightMenu">
                    <ul class="ul-style">
                        <li (click)="editItem(item)">edit item</li>
                        <li (click)="addItem(item.value)">add item</li>
                    </ul>
                </div>
            </div>
            <app-object-render [objRef]="item.value"></app-object-render>
        </div>
        <div *ngIf="item.dataType == 'array'">
            <div class="right-menu-holder">
                <img [src]="jsonFormatService.dataTypes[item.dataType].iconUrl"
                    class="icons" />&nbsp;&nbsp;{{ item.name }}
                &nbsp;&nbsp; <span (click)="toggleRightMenu(item)" [ngClass]="{'activated-dots':item.showRightMenu}"
                    class="dots">...</span>
                <div class="right-menu" *ngIf="item.showRightMenu">
                    <ul class="ul-style">
                        <li (click)="editItem(item)">edit item</li>
                        <li (click)="addItem(item.value)">add item</li>
                    </ul>
                </div>
            </div>
            <app-object-render [objRef]="item.value"></app-object-render>
        </div>
        <div *ngIf="item.dataType == 'number'">
            <div class="right-menu-holder">
                <img [src]="jsonFormatService.dataTypes[item.dataType].iconUrl"
                    class="icons" />&nbsp;&nbsp;{{ item.name }}
                &nbsp;&nbsp; <span (click)="toggleRightMenu(item)" [ngClass]="{'activated-dots':item.showRightMenu}"
                    class="dots">...</span>
                <div class="right-menu" *ngIf="item.showRightMenu">
                    <ul class="ul-style">
                        <li (click)="editItem(item)">edit item</li>
                    </ul>
                </div>
            </div>
        </div>
        <div *ngIf="item.dataType == 'string'">
            <div class="right-menu-holder">
                <img [src]="jsonFormatService.dataTypes[item.dataType].iconUrl"
                    class="icons" />&nbsp;&nbsp;{{ item.name }}
                &nbsp;&nbsp; <span (click)="toggleRightMenu(item)" [ngClass]="{'activated-dots':item.showRightMenu}"
                    class="dots">...</span>
                <div class="right-menu" *ngIf="item.showRightMenu">
                    <ul class="ul-style">
                        <li (click)="editItem(item)">edit item</li>
                    </ul>
                </div>
            </div>
        </div>
    </li>
</ul>

<div class="form" *ngIf="showForm">
    <form>
        <table>
            <tr>
                <td>dataType</td>
                <td>
                    <select name="dataType" [(ngModel)]="currentItem.dataType" (change)="dataTypeChanged()">
                        <option [value]=""> -- select data type --</option>
                        <option *ngFor="let item of jsonFormatService.dataTypes | keyvalue : returnZero;"
                            [value]="item.value.dataType">
                            {{ item.value.name }}</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>name</td>
                <td><input name="name" [(ngModel)]="currentItem.name" />
                </td>
            </tr>
            <tr>
                <td>shortDesc</td>
                <td><input name="shortDesc" [(ngModel)]="currentItem.shortDesc" /></td>
            </tr>
            <tr>
                <td>minLength</td>
                <td><input name="minLength" [(ngModel)]="currentItem.minLength" /></td>
            </tr>
            <tr>
                <td>maxLength</td>
                <td><input name="maxLength" [(ngModel)]="currentItem.maxLength" /></td>
            </tr>
            <tr>
                <td>defaultValue</td>
                <td><input name="defaultValue" [(ngModel)]="currentItem.defaultValue" /></td>
            </tr>
            <tr>
                <td>helpText</td>
                <td><input name="helpText" [(ngModel)]="currentItem.helpText" /></td>
            </tr>
            <tr *ngIf="currentItem.dataType == 'string' || currentItem.dataType == 'number'">
                <td>value</td>
                <td><input name="value" [(ngModel)]="currentItem.value" /></td>
            </tr>
            <tr>
                <td>
                    <button (click)="close()">Close</button>
                </td>
                <td>
                    <button (click)="save()">Save</button>
                </td>
            </tr>
        </table>
    </form>
</div>